<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niii.iot.watermetermvp.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.niii.iot.watermetermvp.domin.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="level" property="level" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="getUserById" resultMap="userResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.niii.iot.watermetermvp.domin.entity.User">
        INSERT INTO user (name, password, level, create_time, update_time)
        VALUES (#{name}, #{password}, #{level}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateUser" parameterType="com.niii.iot.watermetermvp.domin.entity.User">
        UPDATE user
        SET name = #{name}, password = #{password}, level = #{level},
            create_time = #{createTime}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>
